.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  max-width: calc(200px * 5 + 16px * 4);
  padding: 0;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}
